<div>
  <tr>
    <td>
      <nav class="nav-view">
        <h2>Menu</h2>
        <tr>
          <a
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </tr>
        <tr>
          <a
            routerLink="/breed"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Breed</a
          >
        </tr>
        <tr>
          <a
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About</a
          >
        </tr>
        <tr>
          <a
            routerLink="/contactus"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact</a
          >
        </tr>
      </nav>
    </td>
    <td style="width: 100%">
      <div class="outlet-view">
        <router-outlet></router-outlet>
      </div>
    </td>
  </tr>
</div>
